.App {
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  color: #1F2937;
}


*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}